@charset"utf-8";
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
ul, ol, li {
    list-style: none;
}
table, tr, td, th {
    margin: 0;
    padding: 0;
}
body {
    color: #222;
    background: #FFF;
    font-family: '\5FAE\8F6F\96C5\9ED1', Tahoma, Verdana;
    font-size: 12px;
    width: 98%;
}
html > body {
    font-size: 12px;
}
: : selection {
    background: #13B7FE;
    color: #FFF;
}
input, button {
    margin: 0;
    padding: 0;
    font-size: 12px;
}
: : -moz-selection {
    background: #13B7FE;
    color: #FFF;
}
: : -webkit-selection {
    background: #13B7FE;
    color: #FFF;
}
h1, h2, h3, h4 {
    font-weight: bold;
    color: #111;
    font-size: 18px;
    font-family: "Microsoft Yahei", "SimHei", arial, sans-serif;
}
h3 a {
    color: inherit;
    text-decoration: none;
}
a {
    text-decoration: none;
    color: #666;
    font-size: 12px;
    transition: all .8s;
}
a:hover {
    text-decoration: none;
    color: #000;
}
ol li {
    margin-left: 2.5em;
}
dl dt {
    font-weight: bold;
}
address, caption, cite, code, dfn, em, th, var, b, i, s {
    font-style: normal;
    font-weight: 400;
}
select {
    *margin-left: 8px;
}
hr {
    border: 0;
    border-bottom: 1px dotted #000;
    clear: both;
}
input {
    border: 1px solid #000;
    text-indent: .18em;
}
input[required] {
    border-color: red;
}
.kclear {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    height: 0;
    clear: both
}
#wrapper .error {
    border-color: red;
    box-shadow: 0px 2px 2px #AAA;
}
#wrapper {
    width: 100%;
    min-width: 650px;
}
#wrapper .txt-left {
    text-align: left;
}
#wrapper .txt-right {
    text-align: right;
}
.hide {
    display: none;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.fbold {
    font-weight: bold;
}
.ibtn {
    background: url(core_bg.png);
    color: #FFF !important;
    background-color: #f3f3f3;
    background-position: 0 0;
    border: 1px solid #b1aeae;
    border-radius: 2px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    padding: 1px 5px;
    display: inline-block;
    cursor: pointer;
    line-height: normal;
    text-decoration: none;
    overflow: visible;
    vertical-align: middle;
    text-align: center;
    zoom: 1;
    white-space: nowrap;
    font-family: inherit;
    margin: 0 3px 0 0;
    background-position: 0 -120px;
    background-color: #3b7dc3;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #0f75a4 #0e6191 #0c497c #0e6191;
    line-height: 15px;
}
.btn-del {
    background: red;
    border: 1px solid #DDD;
    border-radius: 2px;
}
.btn-del:hover, .ibtn:active, .ibtn:focus {
    border-color: #0f75a4 #0e6191 #0c497c #0e6191;
}
.ibtn:hover {
    background-position: 0 -160px;
}
.ibtn:active, .ibtn:focus {
    background-position: 0 -200px;
}
.ibtn-cancel {
    background-position: 0 -0px;
    color: #000 !important;
    border-color: #AAA #DDD #CCC #AAA;
}
.ibtn-cancel:hover {
    background-position: 0 -40px;
}
.ibtn-cancel:active, .ibtn-cancel:focus {
    background-position: 0 -80px;
}
.ibtn-ok {
    border-color: #78d800;
    background-position: 0 -240px;
}
.ibtn-ok:hover {
    background-position: 0 -280px;
}
.ibtn-ok:active, .ibtn-ok:focus {
    background-position: 0 -320px;
}
.ibtn-print {
    border-color: #f9c610;
    background-position: 0 -360px;
}
.ibtn-print:hover {
    background-position: 0 -400px;
}
.ibtn-print:active, .ibtn-print:focus {
    background-position: 0 -440px;
}
.mod {
    width: 100%;
    padding-bottom: 8px;
    margin-bottom: 12px;
    border-bottom: 1px dotted #000;
}
.mod h2 {
    font-size: 15px;
    line-height: 25px;
    height: 25px;
    background: #DDD url(options.png) 0 center no-repeat;
    text-indent: 18px;
    margin: 1px 0;
    padding-bottom: 3px;
    /* border-bottom:1px dotted #000;     */
}
/*table*/

.itable {
    table-layout: fixed;
    border: 1px solid #DDD;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    vertical-align: middle;
    background-color: #FFF;
    border-collapse: collapse;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #DDD;
    -moz-box-shadow: 0 1px 1px #DDD;
    box-shadow: 0 1px 1px #DDD;
}
.itable>caption {
    background: #F7F7F7;
    border: 1px solid #DDD;
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}
.itable>thead th {
    background-color: #F7F7F7;
    border-bottom: 0px none;
    height: 25px;
    line-height: 25px;
    white-space: nowrap;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F7F7F7), to(#FFF));
    background-image: -webkit-linear-gradient(top, #F7F7F7, #FFF);
    background-image: -moz-linear-gradient(top, #F7F7F7, #FFF);
    background-image: -ms-linear-gradient(top, #F7F7F7, #FFF);
    background-image: -o-linear-gradient(top, #F7F7F7, #FFF);
    background-image: linear-gradient(top, #F7F7F7, #FFF);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
    border-top: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}
.itable>tbody>tr>th {
    text-align: right;
}
.vtable>tbody>tr>td, .vtable>tfoot>tr>td {
    text-align: left;
}
.ilist>tbody>tr>td, .ilsit>tr>thead th {
    border-left: 1px solid #DDD;
    border-top: 1px solid #DDD;
}
.ilist>tbody>tr>td:first-child, .ilist>thead> th:first-child {
    border-left: none;
}
.ilist>thead>tr>th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}
.ilist>thead th: last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}
.ilist>thead th: only-child {
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}
.ilist>tbody>tr: last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}
.ilist>tbody>tr: last-child td: last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}
.itable>tbody>tr>td, .itable>tbody>tr>th {
    border: 1px solid #DDD;
}
.itable>tbody>tr>td {
    padding: 0px;
}
.itable>tbody>tr:hover {
    background: #fbf8e9;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.itable>tfoot th, .itable>tfoot td {
    padding: 2px;
    text-align: center;
}
.ilist>tfoot tr td {
    text-align: right;
}
.ilist>tbody>tr>td a {
    color: #317EE7;
}
.ilist input, .ilist textarea {
    width: auto;
    height: 15px;
    line-height: 15px;
    width: 99%;
}
.ilist input[readonly] {
    background: #CCC;
}
.text-show {
    display: inline-block;
    margin: 0 3px;
    border: 0;
    border-bottom: 1px solid #000;
    background: none;
}
.itable .ilist, .itable .ilist>thead>tr>th, .itable .ilist>tfoot>tr>td {
    border-width: 0 1px;
}
.itable .text-show {
    width: 85px;
    margin: 0;
    background: #FFF !important;
}
.ilist .text-show {
    /*width: 85px;*/
}
.icon {
    background-position: center center;
    background-repeat: no-repeat;
    width: 16px;
    display: inline-block;
    vertical-align: middle;
    line-height: 18px;
    min-height: 18px;
    _height: 18px;
    font-size: 12px;
    cursor: pointer;
    margin: 2px;
}
.action-fold {
    background-image: url(menu_arrow_down.png);
}
.action-print {
    background-image: url(print.png);
}
.action-deleted {
    background: url(small.png) -20px -40px no-repeat;
}
.action-active .action-fold {
    background-image: url(menu_arrow_up.png);
}
.action-active tbody, .action-active thead, .action-active tfoot {
    display: none;
}
.tips-loading {
    background: url(loading.gif) center center no-repeat;
    color: #FFF;
}
.wap-tips {
    margin-top: 5px;
    border: 1px solid #DDD;
    height: auto !important;
    min-height: 50px;
    height: 50px;
    background: #FFF;
    padding: 5px 0;
}
.tips_icon_help {
    margin-left: 3px;
}
.tips-mod {
    margin: 5px 15px;
    line-height: 15px;
}
.wap-tips ul>li {
    margin-left: 12px;
    list-style: square;
}
.wap-tips ol>li {
    margin-bottom: 5px;
}
.tips {
    border: 1px solid #faebd2;
    background: #ffffe9;
    color: #666;
    line-height: 16px;
    padding: 5px 10px 6px;
    width: 85%;
    margin: 0 auto;
}
.tips-icon .tips-icon-error, .tips-icon-success, .tips-icon-help {
    background: url(small.png) 0 -60px no-repeat;
    padding: 0 10px 0 20px;
    display: inline-block;
    vertical-align: middle;
    line-height: 18px;
    min-height: 18px;
    _height: 18px;
    font-size: 12px;
}
.tips-icon-error {
    background-position: -20px -40px;
    color: #B52828;
}
.tips-icon-success {
    background-position: -40px -20px;
    color: #008800;
}
.tips-icon-help {
    background-position: -60px 0;
}
.tips_loading {
    background-position: 0 center;
    color: #333333;
    display: inline-block;
    padding-left: 18px;
    line-height: 18px;
}
.btn-icon input {
    width: 65%;
}
.btn-icon a {
    background-image: url(add.png);
}
.product-info {
    text-indent: 12px;
    text-align: left;
    float: left;
    height: 35px;
    line-height: 35px;
}
.product-info input {
    width: 65px;
}
.product-info label {
    margin-right: 3px;
}
.product-info .text-show {
    width: 65px;
    font-weight: bold;
    border-bottom-width: 2px;
}
/*成本核算*/

#constac {
    min-width: 1050px;
}
/*下拉框*/

/*tak-combobox*/

.tak-combobox {
    position: relative;
    zoom: 1
}
.tak-combobox .dropdownlist {
    width: 280px;
    border: solid 1px #000;
    background-color: #fff;
    height: 200px;
    overflow: auto;
    position: absolute;
    text-align: left;
    opacity: 1;
    -moz-box-shadow: 0 3px 10px #888;
    -webkit-box-shadow: 0 3px 10px #888;
    box-shadow: 0 3px 10px #888;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
    transition: .3s;
    white-space: nowrap;
    visibility: hidden;
    top: 25px;
    left: -500px;
    opacity: 0;
}
.dropdownlist-active .dropdownlist {
    visibility: visible;
    top: 20px;
    left: 0px;
    opacity: 1;
    z-index: 999;
}
.tak-combobox .dropdownlist li {
    display: block;
    background: #FFF;
    width: 100%;
    text-decoration: none;
    color: #000;
    line-height: 20px;
    height: 20px;
    cursor: pointer;
    font-size: 12px;
}
.tak-combobox .dropdownlist li:hover, .tak-combobox .dropdownlist li.light {
    color: #fff;
    background-color: #007
}
.tak-combobox input {
    font-size: 12px;
    float: left;
    width: 132px;
    border: solid 1px #ccc;
    height: 17px;
    _height: 19px;
    line-height: 17px;
}
.iselect, .icos {
    border: solid 1px #ccc;
    background: #eee;
    width: 16px;
    height: 17px;
    text-align: center;
    border-left: none;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 16px;
}
.iselect:before {
    content: "\25BC";
    transition: all 0.3s;
}
.dropdownlist-active .iselect:before {
    content: "\25B2";
    color: red;
}
.active-product input {
    /*background-color: #CDF139;*/
}
.active-product .tak-combobox input {
    background: url(accept.png) no-repeat left center;
    text-indent: 18px;
}
.div-over {
    /*
    height: auto !important;
    max-height: 150px;
    overflow-x: auto;
    overflow-y: auto;
    */
}
.wap-process {
    width: 50%;
    max-width: 400px;
}
/* 上传文件 */

.wap-file {
    min-width: 100px;
    background: #FFF;
    float: left;
    margin-left: 8px;
    line-height: 25px;
    text-align: center;
    position: relative;
}
.wap-file img {
    max-height: 100px;
}
.img-preview img {
    display: block;
}
/***/

.iedit tbody tr th, .iedit tbody tr td {
    padding: 5px;
}
.iedit tbody tr th {
    text-align: right;
    padding-right: 1em;
}
.iedit tbody tr td {
    text-align: left;
    text-indent: 1em;
}
.cost-view .itable caption {
    padding: 5px;
    text-align: left;
}
.cost-view .itable tbody th, .cost-view .itable tbody td {
    padding: 3px;
}
.cost-view thead th {
    font-weight: bold;
}
.cost-view .text-show {
    width: auto;
    background: none !important;
}
.footer-action {
    text-align: center;
}
.footer-action .ibtn {} .not-data {
    background: #d9edf7;
}
.data-lackof {
    background: #f2dede;
}
.data-adequate {
    background: #dff0d8;
}
/*生产管理*/

.zebra thead th {
    padding: 10px;
}
.zebra tbody td, .zebra thead th {
    border-bottom: 1px solid #f2f2f2;
}
.zebra tbody td {
    padding: 5px 3px;
}
.zebra tbody tr: nth-child(even) {
    background: #f5f5f5;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
}
.zebra thead th {
    text-align: left;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    border-bottom: 1px solid #ccc;
    background-color: #eee;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#eee));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #eee);
    background-image: -moz-linear-gradient(top, #f5f5f5, #eee);
    background-image: -ms-linear-gradient(top, #f5f5f5, #eee);
    background-image: -o-linear-gradient(top, #f5f5f5, #eee);
    background-image: linear-gradient(top, #f5f5f5, #eee);
}
.zebra thead th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}
.zebra thead th: last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}
.zebra thead th: only-child {
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}
.zebra tfoot td {
    border-bottom: 0;
    border-top: 1px solid #fff;
    background-color: #f1f1f1;
}
.zebra tfoot td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}
.zebra tfoot td: last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}
.zebra tfoot td: only-child {
    -moz-border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px border-radius: 0 0 6px 6px
}
.itable .zebra thead th {
    font-size: 12px;
}
.itable .zebra tbody td {
    text-align: left;
}
/**车间管理**/

.list-dragsort li {
    width: 12%;
    min-width: 150px;
    /*width: 18%\0/;*/

float: left;
    margin: 5px;
    text-align: center;
    border: 1px solid #DDD;
    background: #FFF;
}
.list-dragsort li div {
    height: 20px;
    padding: 10px;
}
.list-dragsort li:hover {
    background: #DDD;
    border-color: #000;
}
.list-dragsort .place-holder {
    border: dashed 1px gray !important;
}
.list-dragsort input {
    width: 60%;
    height: 17px;
    float: left;
}
.icos {
    display: inline-block;
    border: 1px solid #000;
    cursor: pointer;
    text-align: center;
    float: none;
    height: 17px;
    line-height: 17px;
    width: 23px;
    float: left;
    overflow: hidden;
}
.icos:before {
    position: relative\0;
    top: -2px\0;
    left: 2px\0;
    color: #FFF;
}
.ico-del {
    background: red
}
.ico-del:before {
    content: "\2715";
}
.ico-ok {
    background: #54A2D4;
}
.ico-ok:before {
    /*content: "\2713";*/

content: "\270E";
}
.ico-save {
    background: #3c763d;
}
.ico-save:before {
    content: "\2611";
}
.ico-cancel {
    background: #a94442;
}
.ico-cancel:before {
    content: "\2612";
}
.tips-mod .icos {
    float: none;
}
.header-tools {
    position: absolute;
    right: 2%;
    top: 0;
}
.header-tools li {
    float: right;
    margin: 2px 5px 5px 5px;
}
/**生产管理**/

.production-view {} .list-production-process {
    text-align: center;
}
.list-production-process li {
    float: left;
    width: 100px;
    height: 35px;
    margin: 2px;
    padding: 2px 5px;
    border: 1px solid #DDD;
    border-radius: 2px;
    box-shadow: 0px 2px 2px #AAA;
}
.list-production-process input[type=checkbox] {
    border: 0;
}
.list-production-process .days {
    display: block;
    width: 95%;
    margin: 0 auto;
}
.list-production-process.error {
    background-color: #fbf8e9;
    border-width: 1px 2px;
    position: relative;
}
.list-production-process.error:before {
    content: '请选择工序！';
    color: red;
    font-size: 18px;
    position: absolute;
    right: .2em;
    bottom: .2em;
}
/**生产进度**/

.list-production {
    ;
}
.list-production li {
    list-style-type: decimal;
}